.grid-container {
    margin-top: 50px;
    margin-bottom: 100px;
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
}

.grid-item {
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    color: black;

}